<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <div class="container">
      <footer class="col-md-12" id="pie">
        <p>
          Posted by: Benjamín Vicente Flores <br />
          Contact information:
          <a href="mailto:explosive77roses@gmail.com">
            explosive77roses@gmail.com</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
