#conversor img {
  width: 1.5em;
}

#tablacont td {
  color: blue;
}
tbody p {
  font-size: 10pt;
}
tbody img {
  position: relative;
  top: 0.5em;
  left: 0.6em;
}
form {
  color: rgba(255, 255, 255, 0.897);
  background: linear-gradient(#2a2057 0%, #4d3aa0 100%);
}
form hr {
  background-color: rgba(255, 255, 255, 0.897);
}
