<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversor</title>
  </head>
  <body>
    <div class="container">
      <hr />
      <div class="row">
        <content class="col-md-8">
          <div class="col-md-12 col-sm-12 col-12" id="tabla0responsiva">
            <table
              class="table table-responsive-sm table-responsive-xl table-hover"
              id="conversor"
              style="border: 2px solid rgb(223, 221, 221);"
            >
              <thead>
                <th colspan="8" class="text-white bg-info" align="center">
                  <strong>Conversor de divisas</strong>
                </th>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/usa.png"
                      alt="USD"
                    /><br />USD
                  </th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/europa.png"
                      alt="EUR"
                    /><br />EUR
                  </th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/bandera (1).png"
                      alt="GBP"
                    /><br />GBP
                  </th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/japon.png"
                      alt="JPY"
                    /><br />JPY
                  </th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/australia.png"
                      alt="AUD"
                    /><br />AUD
                  </th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/bitcoin.png"
                      alt="BTC"
                    /><br />BTC
                  </th>
                  <th scope="col" align="center">
                    <img
                      src="../../../assets/imagenes/argentina.png"
                      alt="ARS"
                    /><br />ARS
                  </th>
                </tr>
              </thead>
              <tbody id="tablacont">
                <tr>
                  <th scope="row" class="p-1 pl-1 pt-2">
                    <img
                      src="../../../assets/imagenes/usa.png"
                      alt="USD"
                      align="left"
                    />
                    <p class="pl-5 pt-1">1 USD <br />Inverse</p>
                  </th>
                  <td style="color: black;" align="center">
                    1.000000 <br />1.000000
                  </td>
                  <td align="center">0.919901 <br />1.087074</td>
                  <td align="center">0.811469 <br />1.232332</td>
                  <td align="center">108.9079 <br />0.009182</td>
                  <td align="center">1.619886 <br />0.617328</td>
                  <td align="center">0.000140 <br />7.148.757</td>
                  <td align="center">64.87725 <br />0.015414</td>
                </tr>
                <tr>
                  <th scope="row" class="p-1 pl-1 pt-2">
                    <img
                      src="../../../assets/imagenes/europa.png"
                      alt="EUR"
                      align="left"
                    />
                    <p class="pl-5 pt-1">1 EUR <br />Inverse</p>
                  </th>
                  <td align="center">1.087074 <br />0.919901</td>
                  <td style="color: black;" align="center">
                    1.000000 <br />1.000000
                  </td>
                  <td align="center">0.882127 <br />1.133623</td>
                  <td align="center">118.3910 <br />0.008447</td>
                  <td align="center">1.760936 <br />0.567880</td>
                  <td align="center">0.000152 <br />6.576.146</td>
                  <td align="center">70.52637 <br />0.014179</td>
                </tr>
                <tr>
                  <th scope="row" class="p-1 pl-1 pt-2">
                    <img
                      src="../../../assets/imagenes/bandera (1).png"
                      alt="GBP"
                      align="left"
                    />
                    <p class="pl-5 pt-1">1 GBP <br />Inverse</p>
                  </th>
                  <td align="center">1.232332 <br />0.811469</td>
                  <td align="center">1.133623 <br />0.882127</td>
                  <td style="color: black;" align="center">
                    1.000000 <br />1.000000
                  </td>
                  <td align="center">134.2108 <br />0.007451</td>
                  <td align="center">1.996238 <br />0.500942</td>
                  <td align="center">0.000172 <br />5.800.997</td>
                  <td align="center">79.95034 <br />0.012508</td>
                </tr>
                <tr>
                  <th scope="row" class="p-1 pl-1 pt-2">
                    <img
                      src="../../../assets/imagenes/rusia.png"
                      alt="RUB"
                      align="left"
                    />
                    <p class="pl-5 pt-1">1 RUB <br />Inverse</p>
                  </th>
                  <td align="center">0.013226 <br />75.61134</td>
                  <td align="center">0.012166 <br />82.19511</td>
                  <td align="center">0.010732 <br />93.17830</td>
                  <td align="center">1.440365 <br />0.694268</td>
                  <td align="center">0.021424 <br />46.67696</td>
                  <td align="center">0.000002 <br />540527.1</td>
                  <td align="center">0.858036 <br />1.165652</td>
                </tr>
              </tbody>
            </table>
          </div>
        </content>
        <aside class="col-md-4 col-sm-12 col-12">
          <form class="border pl-4 pr-4 pt-2">
            <h4 align="center">Conversor De Divisas</h4>
            <hr />
            <div class="form-group">
              <label for="exampleFormControlInput1">Cantidad</label>
              <input
                #amount
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Cantidad"
                style="text-align: right;"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">De</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                name="from"
                [(ngModel)]="from"
              >
                <option value="USD">USD Dólares EEUU</option>
                <option value="EUR">EUR Euro Eurozona</option>
                <option value="GBP">GBP Libra Esterlina UK</option>
                <option value="ARS">ARS Pesos Argentinos ARG</option>
                <option value="BYR">RUB Rubio Ruso RU</option>
                <option value="JPY">JPY Yen Japón</option>
                <option value="AUD">AUD Dólar Australiano AU</option>
                <option value="BTC">BTC Bitcoin Internacional</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">A</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                name="to"
                [(ngModel)]="to"
              >
                <option value="ARS">ARS Pesos Argentinos ARG</option>
                <option value="USD">USD Dólares EEUU</option>
                <option value="EUR">EUR Euro Eurozona</option>
                <option value="GBP">GBP Libra Esterlina UK</option>
                <option value="BYR">RUB Rubio Ruso RU</option>
                <option value="JPY">JPY Yen Japón</option>
                <option value="AUD">AUD Dólar Australiano AU</option>
                <option value="BTC">BTC Bitcoin Internacional</option>
              </select>
            </div>
            <div class="form-group">
              <output
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                style="text-align: center;"
                >{{ a.result }}</output
              >
            </div>
            <div class="form-group">
              <button
                type="button"
                class="btn btn-warning btn-lg btn-block"
                (click)="ejecutarConversion(from, to, amount)"
              >
                Convertir
                <span
                  class="icon-sphere"
                  style="position: relative; top: 0.08em;"
                ></span>
              </button>
            </div>
          </form>
        </aside>
      </div>
    </div>
    <br />
  </body>
</html>
