<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horoscopo</title>
  </head>
  <body>
    <div class="container">
      <hr />
      <div class="row">
        <content class="col-md-12">
          <div class="col-md-12">
            <h2 style="font-family: cursive; color: green;">
              Los Signos del Zodiaco
            </h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-6">
                <ul class="list-unstyled" id="horoscop">
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Aries.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Aries
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Tauro.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Tauro
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Gemelos.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Geminis
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Cancer.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Cancer
                        </button></a
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 col-6">
                <ul class="list-unstyled" id="horoscop">
                  <li class="media">
                    <img
                      src="../../assets/imagenes/Leo.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Leo
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Virgen.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Virgo
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Libra.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Libra
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Escorpio.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Escorpio
                        </button></a
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 col-6">
                <ul class="list-unstyled" id="horoscop">
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Sagitario.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Sagitario
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Capricornio.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Capricornio
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Acuario.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Acuario
                        </button></a
                      >
                    </div>
                  </li>
                  <li class="media">
                    <img
                      src="../../../assets/imagenes/Picis.jpg"
                      class="mr-3 mt-4"
                      alt="..."
                    />
                    <div class="media-body mr-5">
                      <a
                        ><button
                          type="button"
                          class="btn btn-success btn-md btn-block mt-5"
                        >
                          Piscis
                        </button></a
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-12">
                <div class="col-md-12 mb-3" style="padding-left: 35%;">
                  <label for="signo" class="col-12" style="margin-left: 17%;"
                    >Elige tu signo:</label
                  >
                  <select
                    name="sign"
                    id="sign"
                    class="btn btn-success col-7"
                    #sign
                    style="font-size: 13pt;"
                    (change)="seleccionarHoroscopo(sign, fecha)"
                  >
                    <option value="taurus">Tauro</option>
                    <option value="gemini">Geminis</option>
                    <option value="libra">Libra</option>
                    <option value="leo">Leo</option>
                    <option value="virgo">Virgo</option>
                    <option value="pisces">Piscis</option>
                    <option value="scorpio">Escorpio</option>
                    <option value="aries">Aries</option>
                    <option value="cancer">Cancer</option>
                    <option value="aquarius">Acuario</option>
                    <option value="capricorn">Capricornio</option>
                    <option value="sagittarius">Sagitario</option>
                  </select>
                </div>
                <div class="col-md-12" style="padding-left: 42%;">
                  <label for="signo" class="col-12" style="padding-left: 9%;"
                    >Seleccione Dia:</label
                  >
                  <input
                    class="form-control col-5 bg-success text-white"
                    type="date"
                    name="fechaa"
                    id="fechaa"
                    min="2020-01-08"
                    (change)="seleccionarHoroscopo(sign, fecha)"
                    max="2020-06-07"
                    [(ngModel)]="fecha"
                  />
                </div>
                <br />
              </div>
            </div>
          </div>
        </content>
        <aside class="col-md-12">
          <div class="row col-md-12">
            <div class="card col-md-12">
              <div class="card-body bg-light">
                <a name="horos"
                  ><h2
                    class="card-title pl-4"
                    style="
                      background-color: rgb(27, 136, 42);
                      font-size: 30pt;
                      font-family: 'Times New Roman', Times, serif;
                      color: white;
                    "
                  >
                    {{ a.sign.name }} - Día
                  </h2></a
                >
                <h4
                  class="card-subtitle mb-2 text-muted pl-4"
                  style="font-family: cursive;"
                >
                  {{ a.sign.birthday }}
                </h4>
                <p class="card-text pl-5" style="font-family: serif;">
                  <i *ngIf="sign.value == 'aries'"
                    ><img
                      src="../../../assets/imagenes/Aries2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'aquarius'"
                    ><img
                      src="../../../assets/imagenes/Acuario2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'sagittarius'"
                    ><img
                      src="../../../assets/imagenes/Sagitario2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'scorpio'"
                    ><img
                      src="../../../assets/imagenes/Escorpio2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'capricorn'"
                    ><img
                      src="../../../assets/imagenes/Capricornio2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'pisces'"
                    ><img
                      src="../../../assets/imagenes/Piscis.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'libra'"
                    ><img
                      src="../../../assets/imagenes/Libra2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'virgo'"
                    ><img
                      src="../../../assets/imagenes/Virgen2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'leo'"
                    ><img src="../../../assets/imagenes/Leo2.png" align="right"
                  /></i>
                  <i *ngIf="sign.value == 'cancer'"
                    ><img
                      src="../../../assets/imagenes/Cancer2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'gemini'"
                    ><img
                      src="../../../assets/imagenes/Geminis2.png"
                      align="right"
                  /></i>
                  <i *ngIf="sign.value == 'taurus'"
                    ><img
                      src="../../../assets/imagenes/Tauro2.png"
                      align="right"
                  /></i>
                  {{ a.result.description }}
                </p>
                <a
                  href="#"
                  class="card-link pl-4"
                  style="font-family: cursive; color: rgb(80, 89, 99);"
                  >--Ver horoscopo del Mes--</a
                >
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>
